<a href="https://colab.research.google.com/github/Shoyohazy/ML_MODELS/blob/main/Gmail_Spam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

In [ ]:
from google.colab import files
upload = files.upload()

Saving spam.csv to spam (1).csv

In [ ]:
dt = pd.read_csv("spam.csv", encoding ='latin1')
dt.head(5)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
dt.shape
dt.columns

Index(['type', 'text'], dtype='object')

In [ ]:
dt.drop_duplicates(inplace = True)

In [ ]:
dt.shape

(115, 2)

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
dt['spam'] = dt['type'].map( {'spam':1 , 'ham':0 } ).astype(int)
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [ ]:
dt['text'][1]

'Ok lar... Joking wif u oni...'

In [ ]:
def tokenizer(text):
  return text.split()

In [ ]:
dt['text'] = dt['text'].apply(tokenizer)

In [ ]:
dt['text'][1]

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [ ]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english" , ignore_stopwords = False)

In [ ]:
def stem_process(text):
  return [stemmer.stem(word) for word in text]

In [ ]:
dt['text'] = dt['text'].apply(stem_process)

In [ ]:
dt['text'][3]

['u',
 'dun',
 'say',
 'so',
 'earli',
 'hor...',
 'u',
 'c',
 'alreadi',
 'then',
 'say...']

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
from nltk.stem import WordNetLemmatizer
lemmenter = WordNetLemmatizer()

In [ ]:
def lemment_process(text):
  return [lemmenter.lemmatize(word , pos='a') for word in text]

In [ ]:
dt['text'] = dt['text'].apply(lemment_process)

In [ ]:
dt['text'][3]

['u',
 'dun',
 'say',
 'so',
 'earli',
 'hor...',
 'u',
 'c',
 'alreadi',
 'then',
 'say...']

In [ ]:
dt['text'][115]

['wa,', 'ur', 'openin', 'sentenc', 'veri', 'for']

In [ ]:
stop_words = stopwords.words('english')

In [ ]:
def stop_process(text):
  result = [ word for word in text if not word in stop_words ]
  return result

In [ ]:
dt['text'] = dt['text'].apply(stop_process)

In [ ]:
dt['text'][115]

['wa,', 'ur', 'openin', 'sentenc', 'veri']

In [ ]:
dt.head(10)

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0
5  spam  [freemsg, hey, darl, 3, week, word, back!, i'd...     1
6   ham  [even, brother, like, speak, me., treat, like,...     0
7   ham  [per, request, mell, mell, (oru, minnaminungin...     0
8  spam  [winner!!, valu, network, custom, select, rece...     1
9  spam  [mobil, 11, month, more?, u, r, entitl, updat,...     1

In [ ]:
dt['text'] = dt['text'].apply(''.join)

In [ ]:
dt.head()

   type                                               text  spam
0   ham  gojurongpoint,crazy..availonlibugingreatworldl...     0
1   ham                             oklar...jokewifuoni...     0
2  spam  freeentri2wklicompwinfacupfinaltkts21stmay2005...     1
3   ham                  udunsayearlihor...ucalreadisay...     0
4   ham                    nahthinkgoeusf,livearoundthough     0

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
y = dt.spam.values
x = tfidf.fit_transform(dt['text'])

In [ ]:
from sklearn.model_selection import train_test_split
x_train , x_text , y_train , y_text = train_test_split(x,y,random_state=1 , test_size= 0.2 , shuffle = False )

In [ ]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()
reg.fit(x_train , y_train)
y_pred = reg.predict(x_text)
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred , y_text) * 100
print("accuracy:", acc_log)

accuracy: 86.95652173913044

In [ ]:
from sklearn.svm import LinearSVC

linear_svc = LinearSVC(random_state = 0)
linear_svc.fit(x_train , y_train)
y_pred = linear_svc.predict(x_text)
acc_linear_svc=accuracy_score(y_pred , y_text) * 100
print("accuracy:", acc_linear_svc)

accuracy: 86.95652173913044